
header>#header-area>a>h1 {

    display: inline-block;

    cursor: pointer;

    width: 89px;

    height: 32px;

    text-indent: -9999px;

    margin: 0 auto;

    background: url(https://hownot.github.io/TGD_CSS/img/효게더 주황.png) no-repeat;

}
header {

    width: 100%;

    border-bottom: 4px solid #f08a26;

    text-align: center;

    padding: 4px 0;

    height: 50px;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 3000;

    transition: top 0.2s ease-in-out;

}
