<<<<<<< HEAD
/*색상
연주  #ffbc42;
붉     #D81159;
찐주  #f08a26;
완주  #FAF4C0;*/

//모바일
header>#header-area>a>h1 {

    display: inline-block;

    cursor: pointer;

    width: 89px;

    height: 32px;

    text-indent: -9999px;

    margin: 0 auto;

    background: url(https://upload.tgd.kr/20190214/5f55b9e9151909e8aeb350356e29816d.png) no-repeat;

}
header {

    width: 100%;

    border-bottom: 4px solid #f08a26;

    text-align: center;

    padding: 4px 0;

    height: 50px;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 3000;

    transition: top 0.2s ease-in-out;

}


//컴퓨터
header .row>div:nth-child(1)>a {

    display: block;

    width: 145px;

    height: 50px;

    background: url(https://upload.tgd.kr/20190213/2c163bc9a3eda2906e07bc1cf94e0e54.png) no-repeat

}

#movetotop{
   background:url(https://upload.tgd.kr/20190214/54eea56cc81be75d2edb1fb186274708.png) no-repeat
  
}

#movetotop > img{
 opacity:0
}

header .row>div:nth-child(1)>a img {

    opacity: 0

}




body,html {

    height: auto!important

}



header #header-bar {

    margin-top: 1em;

    margin-bottom: 1em;

    padding-right: 30px;

    padding-left: 30px

}




header #header-bar #header-top-notice a,header #header-bar a.dropdown-toggle {

    color: #ffbc42;

}



header #right-search-form>#right-search-btn {

    color: #ffbc42;

    background: 0;

    border: none;

    font-size: 1.4em

}



header #right-search-form>input[type=text] {

    position: relative;

    border: 3px solid #f08a26;

    background: #ffbc42;

    font-size: 1.1em;

    padding: .3em .5em

}



header #header-bar>.row {

    padding-top: .3em;

    padding-bottom: .3em;

    border-top: 2px solid #f08a26;

    border-bottom: 2px solid #f08a26;

    border-right: 2px solid #f08a26;

    border-left: 2px solid #f08a26;

    z-index: 200

}



#main #main-content>div.frame,#main .menu-wrapper {

    border-right: 0;

    border-bottom: 0

}



header #header-bar #header-top-notice strong.notice-badge {

    background: #ffbc42;

    padding: 4px 8px;

    color: #fff;

    font-weight: 700

}



#main .menu-wrapper>.header {

    background: #ffbc42;

    color: #fff; 

    padding: .45em 1.4em .45em 1em;

    font-weight: 700

}



#main .menu-wrapper>a {

    color: #f08a26;

}




#main .menu-wrapper>a>em {

    color: #D81159;

}


#main .menu-wrapper>a>i.fa.fa-square {

    width: 24px;

    display: inline-block;

    text-align: center;

    font-size: 0.1em;

    color: #D81159;

    vertical-align: 0.2em;

}



.pagination>li>a,.pagination>li>span {
    
    color: #ffbc42;

}



.pagination>li>a:hover {

    background-color: #ffbc42;

    color: #fff

}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {

    background-color: #ffbc42;

    border-color: #f08a26;
}

#article-content-wrapper>.header {

    border-top: 3px solid #f08a26;

    background: #ffbc42;

}

#article-content-wrapper>.footer {

    border-bottom: 3px solid #f08a26;

    background: #ffbc42;

}


#article-list {

    margin: 0;

    padding: 0 0 2em

}

#article-list>.article-list-row>.item>.list-header>span {

    background-color: #D81159;

    color: #fff;

    font-weight: 700;

    padding: 1px 5px;

    font-size: 11px;

    border-radius: 100px.

}

#article-list #article-list-category {

    border-top: 3px solid #D81159;

    background: #fff;

}

#article-list #article-list-category>a {

    display: inline-block;

    padding: 11px 16px;

    background: #fff;

    text-decoration: none;

    font-size: 12px;

    font-weight: 700

}

#article-reply-area #reply-real-area .reply>.reply-header {

    background: #FFE08C;
}

#article-reply-area>.header h5 {

    font-size: 14px;

    color: #D81159;

    font-weight: 700

}

#board-info {

    border-top: 3px solid #D81159;

    overflow: inherit;

    padding: 5px 5px 0 8px;

    margin: 0

}

#board-info h1>a {

    color: #f08a26;
}


#board-info #board-info-profile-img {

    border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;

    border: 0.5px solid #D81159;

    background: #fff

}

#article-list #article-list-menu>.btn.best {

    margin-left: 1em

}

#article-list #article-list-menu>.btn.write {

    margin-right: 1em

}

#article-list #article-list-menu>.btn.best>.fa.fa-star:before,.btn-outline-success>i.fa.fa-thumbs-up:before,span.a-badge i.fa.fa-star:before {

    content: "\f004"

}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {

    background-color: #000000!important;

    border: none

}

body{

    background: linear-gradient(to bottom,#fff,#ffbc42)

}

#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {

    background-color: #FFFFD2;

}

#article-list>.article-list-row>.item>.list-blocked,#article-list>.article-list-row>.item>.list-category,#article-list>.article-list-row>.item>.list-checkbox,#article-list>.article-list-row>.item>.list-header,#article-list>.article-list-row>.item>.list-time,#article-list>.article-list-row>.item>.list-title {

    border-bottom: 1px solid #D81159;

}

#article-list>.article-list-row>.item>.list-header>strong {

    color: #D81159;

}

::selection {

   background: #D81159;

   color: #fff;

}

#article-list>.article-list-row>.item>.list-title>small.comment-count {

    color: #D81159;

}

#viewers:before{

    content: "♥ "

}

#viewers:after{

    content: "명 구경중!";

}

.btn-primary {

    color: #ffffff;

    background-color: #ffbc42;

}

.badge{

     background-color: #ffbc42;

=======
/*색상
연주  #ffbc42;
붉     #D81159;
찐주  #f08a26;
완주  #FAF4C0;*/

//모바일
header>#header-area>a>h1 {

    display: inline-block;

    cursor: pointer;

    width: 89px;

    height: 32px;

    text-indent: -9999px;

    margin: 0 auto;

    background: url(https://upload.tgd.kr/20190214/5f55b9e9151909e8aeb350356e29816d.png) no-repeat;

}
header {

    width: 100%;

    border-bottom: 4px solid #f08a26;

    text-align: center;

    padding: 4px 0;

    height: 50px;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 3000;

    transition: top 0.2s ease-in-out;

}


//컴퓨터
header .row>div:nth-child(1)>a {

    display: block;

    width: 145px;

    height: 50px;

    background: url(https://upload.tgd.kr/20190213/2c163bc9a3eda2906e07bc1cf94e0e54.png) no-repeat

}

#movetotop{
   background:url(https://upload.tgd.kr/20190214/54eea56cc81be75d2edb1fb186274708.png) no-repeat
  
}

#movetotop > img{
 opacity:0
}

header .row>div:nth-child(1)>a img {

    opacity: 0

}




body,html {

    height: auto!important

}



header #header-bar {

    margin-top: 1em;

    margin-bottom: 1em;

    padding-right: 30px;

    padding-left: 30px

}




header #header-bar #header-top-notice a,header #header-bar a.dropdown-toggle {

    color: #ffbc42;

}



header #right-search-form>#right-search-btn {

    color: #ffbc42;

    background: 0;

    border: none;

    font-size: 1.4em

}



header #right-search-form>input[type=text] {

    position: relative;

    border: 3px solid #f08a26;

    background: #ffbc42;

    font-size: 1.1em;

    padding: .3em .5em

}



header #header-bar>.row {

    padding-top: .3em;

    padding-bottom: .3em;

    border-top: 2px solid #f08a26;

    border-bottom: 2px solid #f08a26;

    border-right: 2px solid #f08a26;

    border-left: 2px solid #f08a26;

    z-index: 200

}



#main #main-content>div.frame,#main .menu-wrapper {

    border-right: 0;

    border-bottom: 0

}



header #header-bar #header-top-notice strong.notice-badge {

    background: #ffbc42;

    padding: 4px 8px;

    color: #fff;

    font-weight: 700

}



#main .menu-wrapper>.header {

    background: #ffbc42;

    color: #fff; 

    padding: .45em 1.4em .45em 1em;

    font-weight: 700

}



#main .menu-wrapper>a {

    color: #f08a26;

}




#main .menu-wrapper>a>em {

    color: #D81159;

}


#main .menu-wrapper>a>i.fa.fa-square {

    width: 24px;

    display: inline-block;

    text-align: center;

    font-size: 0.1em;

    color: #D81159;

    vertical-align: 0.2em;

}



.pagination>li>a,.pagination>li>span {
    
    color: #ffbc42;

}



.pagination>li>a:hover {

    background-color: #ffbc42;

    color: #fff

}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {

    background-color: #ffbc42;

    border-color: #f08a26;
}

#article-content-wrapper>.header {

    border-top: 3px solid #f08a26;

    background: #ffbc42;

}

#article-content-wrapper>.footer {

    border-bottom: 3px solid #f08a26;

    background: #ffbc42;

}


#article-list {

    margin: 0;

    padding: 0 0 2em

}

#article-list>.article-list-row>.item>.list-header>span {

    background-color: #D81159;

    color: #fff;

    font-weight: 700;

    padding: 1px 5px;

    font-size: 11px;

    border-radius: 100px.

}

#article-list #article-list-category {

    border-top: 3px solid #D81159;

    background: #fff;

}

#article-list #article-list-category>a {

    display: inline-block;

    padding: 11px 16px;

    background: #fff;

    text-decoration: none;

    font-size: 12px;

    font-weight: 700

}

#article-reply-area #reply-real-area .reply>.reply-header {

    background: #FFE08C;
}

#article-reply-area>.header h5 {

    font-size: 14px;

    color: #D81159;

    font-weight: 700

}

#board-info {

    border-top: 3px solid #D81159;

    overflow: inherit;

    padding: 5px 5px 0 8px;

    margin: 0

}

#board-info h1>a {

    color: #f08a26;
}


#board-info #board-info-profile-img {

    border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;

    border: 0.5px solid #D81159;

    background: #fff

}

#article-list #article-list-menu>.btn.best {

    margin-left: 1em

}

#article-list #article-list-menu>.btn.write {

    margin-right: 1em

}

#article-list #article-list-menu>.btn.best>.fa.fa-star:before,.btn-outline-success>i.fa.fa-thumbs-up:before,span.a-badge i.fa.fa-star:before {

    content: "\f004"

}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {

    background-color: #000000!important;

    border: none

}

body{

    background: linear-gradient(to bottom,#fff,#ffbc42)

}

#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {

    background-color: #FFFFD2;

}

#article-list>.article-list-row>.item>.list-blocked,#article-list>.article-list-row>.item>.list-category,#article-list>.article-list-row>.item>.list-checkbox,#article-list>.article-list-row>.item>.list-header,#article-list>.article-list-row>.item>.list-time,#article-list>.article-list-row>.item>.list-title {

    border-bottom: 1px solid #D81159;

}

#article-list>.article-list-row>.item>.list-header>strong {

    color: #D81159;

}

::selection {

   background: #D81159;

   color: #fff;

}

#article-list>.article-list-row>.item>.list-title>small.comment-count {

    color: #D81159;

}

#viewers:before{

    content: "♥ "

}

#viewers:after{

    content: "명 구경중!";

}

.btn-primary {

    color: #ffffff;

    background-color: #ffbc42;

}

.badge{

     background-color: #ffbc42;

>>>>>>> 5068296ad32365b912138b8c138c39e51f6dd7e5
}